body{
	background-color: var(--BLUE);
}

.user_card {
    background:white;
	width: 40%;
	margin-top: 5%;
	margin-bottom: auto;
	position: relative;
	padding: 10px;
	padding-top: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: var(--BROWN);
}

.login_btn {
	width: 100%;
	background: var(--YELLOW);
}

.login_btn:focus {
	box-shadow: none;
	outline: 0px;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: var(--YELLOW);
	color: var(--BROWN);
	border: 0;
	border-radius: 5px 0 0 5px;
}

.input_pass:focus {
	outline: 0px;
}

#messages{
	color: var(--RED);
}