body{
    height: 100%;
    display: table;
    width: 100%;
    font-family: "Arial", sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

header{
    color: var(--WHITE);
    background-color: var(--BLUE);
    height: 40px;
    line-height: 40px;
    display: table-row;
}

header a {
    font-weight: bold;
    color: var(--WHITE);
}

header a:hover {
    color: var(--YELLOW);
    text-decoration: none;
}

nav a {
    margin: 5px;
    line-height: 40px;
}

nav{
    display: inline-block;
}

.logout {
    display: inline-block;
    text-align: right;
    float: right;
}

.logout div{
    display: inline-block;
}

header p {
    display: inline-block;
    margin: 0;
    margin-left: 40px;
    margin-right: 10px;
    font-size: 18px;
}

.logout a {
    margin-right: 10px;
    display: inline-block;
}

.iconSignOut {
    font-size: 20px;
    padding-right: 10px;
}

.iconSignOut i {
    vertical-align: middle;
}

main {
    height: 100%;
    display: table;
    width: 100%;
}

footer {
    height: 100px;
    display: table-row;
    color: var(--WHITE);
    background-color: var(--BLUE);
    text-align: center;
    line-height: 100px;
}

footer a {
    color: var(--YELLOW);
}

footer a:hover {
    color: var(--WHITE);
}

aside {
    width: 250px;
    background-color: var(--YELLOW);
}

.box {
    display: table-cell;
}