{% extends 'layout.html' %}
{% load static %}
{% block links%}<link rel="stylesheet" type="text/css" href="{% static 'posts/css/main_posts.css' %}">{% endblock %}
{% block title%}Мои посты{% endblock %}
{% block content%}
      <form class="searchLine">
            <input class="form-control" type="text" placeholder="Поиск" aria-label="Поиск">
            <a href="" class="btn" tabindex="1">Найти</a>
      </form>
      {% for el in posts%}
            <div class="card">
                  <h3>{{el.title}} <span>Дата публикации: {{el.created_at}}</span> </h3>
                  <p>{{el.content}}</p>
                  <a href="{% url 'posts:post details' el.id %}" class="btn" tabindex="1">Смотреть подробности</a>
                  <a href="{% url 'posts:post update' el.id %}" class="btn" id="edit" tabindex="1">Редактировать</a>
            </div>
      {%endfor%}
{% endblock %}